<div class="footer bigfooter container-fluid">
    <div class="row-fluid">
        <div class="span4">

        </div>
        <div class="span4">

        </div>
        <div class="span4">

        </div>
    </div>
</div>