<div class="container-fluid">
    <div class="row-fluid">
        <br /><br />
        <h1>Syrian Leadership Study</h1>
    </div>
    <div class="row-fluid">
        <div class="span4" style="background-color: white">
            TODO: Write an overview.
        </div>
        <div class="span4" style="background-color: white">

        </div>
        <div class="span4" style="background-color: white">

        </div>
    </div>
</div>