<div class="container-fluid panel-green panel-small panel-about">
    <div class="row-fluid">
        <div class="span3">
           <h4>People</h4>
        </div>
        <div class="span7"></div>
        <div class="span3"></div>
    </div>
</div>